<h1 id="gch3515phnomnesdchanges">GCH3515-Phénomènes d'échanges</h1>

<h2 id="tabledesmatires">Table des matières</h2>

<ul>
<li><a href="#description">Description</a>


<ul>
<li><a href="#energie">Énergie</a></li>

<li><a href="#mouvement">Mouvement</a></li>

<li><a href="#masse">Masse</a></li></ul>
</li>

<li><a href="#notes-de-cours">Notes de cours</a></li>

<li><a href="#exercices">Exercices</a>


<ul>
<li><a href="#recette">Recette</a></li></ul>
</li>

<li><a href="#td">TD</a></li>

<li><a href="#feuille-de-notes">Feuille de notes</a></li>
</ul>

<h2 id="description">Description</h2>

<p> Voici un site web qui représente le dépôt publique appelé :
<a href="https://gitlab.com/marckit-poly/GCH3515-Pheno">GCH3515-Pheno</a>.

</p>
<p>Pour y accédé il suffit de créé un compte gitlab. C'est facile et gratuit.
</p>

<p> Le cours de phénomènes d'échanges permet d'observer les échanges
d'<a href="#energie">énergie</a>, de <a href="#mouvement">mouvement</a> et de <a href="#masse">masse</a>
en étudiant l'ensemble du système.</p>

<h3 id="energie">Energie</h3>

<p><strong>Loi de Fourier :</strong> <br />
Chaleur dans un solide ou un liquide.</p>

<p><strong>Loi de refroidissement de Newton :</strong> <br />
Chaleur dans l'air.</p>

<h3 id="mouvement">Mouvement</h3>

<p><strong>Loi de cisaillement de Newton :</strong> <br />
Profi de résistance à la vitesse.</p>

<h3 id="masse">Masse</h3>

<p><strong>Premnière loi de Fick :</strong> <br />
Transfert de la matière.</p>

<h2 id="notesdecours">Notes de cours</h2>

<p>Pour consulter les notes de cours, il suffit de cliquer
<a href="https://gitlab.com/marckit-poly/GCH3515-Notes-de-cours">ici</a>.</p>

<h2 id="exercices">Exercices</h2>

<p>Afin de résoudre les problèmes où il y a un phénomène d'échange,
il suffit de suivre une <a href="#recette">recette</a> de huit étapes
énoncés dans la sous-section suivante.</p>

<p>Pour consulter les exercices que j'ai effectuées, il suffit de cliquer
<a href="https://gitlab.com/marckit-poly/GCH3515-Exercices">ici</a>.</p>

<h3 id="recette">Recette</h3>

<p>Les étapes de la recette sont les suivantes :</p>

<ol>
<li>Définition et hypotèses</li>

<li>Volume de contrôle</li>

<li>Tableau</li>

<li>Bilan</li>

<li>Équation</li>

<li>Condition frontières</li>

<li>Résolution</li>

<li>Propriétés</li>
</ol>

<p>Les étapes les plus difficiles sont 1, 3 et 6. Le reste, c'est de l'algèbre.</p>

<h2 id="td">TD</h2>

<p>Les TD remis ce trouvent dans le 
<a href="https://gitlab.com/marckit-poly/GCH3515-TD">dépôt suivant</a>. 
Il n'est pas possible de consulter ce dossier à moins d'y participer.</p>

<h2 id="feuillesdenotes">Feuilles de notes</h2>

<p>Pour consulter les feuilles pour les examens, il faut aller dans les
notes de cours, il suffit de cliquer
<a href="https://gitlab.com/marckit-poly/GCH3515-Notes-de-cours">ici</a>.</p>
